.lado-esquerdo{
    height: 100%;
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}
.lado-esquerdo header{
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}
.lado-esquerdo header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.lado-esquerdo .buttons{
    display: flex;
}
.lado-esquerdo .botao{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50px;
    width: 50px;
}
.busca{
    background: #f6f6f6;
    border-bottom: 1px solid #eee;
    padding: 5px 15px;
}
.busca .input{
    background: white;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.busca .input input{
    flex: 1;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
}
.chatlist{
    flex: 1;
    background-color: #FFF;
    overflow-y: auto;
}
.chatlist::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.chatlist::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0, 0.2);
}